---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dictionapp - Downloads">
    <p>Redirecting...</p>

    <script>
      (() => {
        const ua = navigator.userAgent;

        const isIOS = /iPhone|iPad|iPod/i.test(ua);

        const iosLink = "https://apps.apple.com/es/app/dictionapp/id6754826488";
        const otherLink = "https://play.google.com/store/apps/details?id=com.studiomuxatech.dictionapp&pcampaignid=web_share";

        if (isIOS) {
          window.location.replace(iosLink);
        } else {
          window.location.replace(otherLink);
        }
      })();
    </script>
</Layout>


